# Скрытие версии Nginx в заголовках
server_tokens off;

# Базовые настройки безопасности заголовков
add_header X-Frame-Options "SAMEORIGIN" always;
add_header X-XSS-Protection "1; mode=block" always;
add_header X-Content-Type-Options "nosniff" always;

# Ограничение размеров запросов
client_max_body_size 10M;